{:paths ["src/clj" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.0-alpha4"}

        ;; lifecycle
        integrant/integrant {:mvn/version "0.8.0"}

        ;; logging
        org.clojure/tools.logging      {:mvn/version "1.2.4"}
        ch.qos.logback/logback-classic {:mvn/version "1.2.10"}

        ;; config
        ;; - https://github.com/juxt/aero
        aero/aero {:mvn/version "1.1.6"}

        ;; spec
        metosin/malli {:mvn/version "0.8.0"}}

 :aliases {:test
           {:extra-paths ["test/clj"]
            :extra-deps  {;;org.clojure/test.check               {:mvn/version "1.1.1"}
                          }}

           :dev
           {:extra-paths ["env/dev/clj" "env/dev/resources"]
            :extra-deps  {}
            :main-opts   []}

           :run-tests
           {:extra-paths ["env/test/resources"]
            :extra-deps  {io.github.cognitect-labs/test-runner 
                          {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
            :exec-fn     cognitect.test-runner.api/test
            :main-opts   ["-m" "cognitect.test-runner"]}}}
